<!DOCTYPE html>
<html>
<head>
	<title>Integrantesdeequipodocente</title>
</head>
<body>
	<h1>Cuerpo docente</h1>
	<h3>Angel Jimenez</h3>
	<h3>Ivan Diaz</h3>
	<h3>Javiera Ovalle</h3>
	<h3>Jorge Pinto</h3>
	<h3>Jose Canto</h3>
	<h3>Carlos Vega</h3>
	<h3>Catalina Martin</h3>
	<h3>Eduardo Vallerio</h3>
	<h3>Juan Gutierrez</h3>
	<h3>Matias Rojas</h3>
	<h3>Nicolas Villa</h3>
	<h3>Sebastian Donoso</h3>
	<h3>Sofia Herrera</h3>
	<h3>Victoria Arce</h3>

	<a href="http://www.google.cl">Hola, soy un enlace a Google</a>
	<br>
	<a href="{% url 'pestaña' %}">Hola, soy un enlace a otra pestaña del proyecto</a>
	<br>
	<a href="{% url 'index' %}">Hola, aqui vuelve a idex</a>
	<br>
	<a href="{% url 'cosasamicriterio' %}">Hola, aqui hay cosasamicriterio</a>

</body> 
</html>